body {
    background-color: rgb(7, 7, 7)!important;
}
/* *********************************** Loading ******************************************** */
.loader {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.979);
    z-index: 999;
    height: 100vh ;
    width: 100%;
    position: fixed;
}

a {
    color: currentColor!important;
    text-decoration: none!important;
}
/* *********************************** Header ******************************************** */
#header{
    background-image: url(img/Sprinkle-dark.svg);
    margin-bottom: 1%;
}
/* ************************************* body ****************************************** */
#body {
    background-image: url(img/Sprinkle-dark.svg);
    padding: 2.5% 1%;
}

.item-container {
    display: flex;
    width: 90%;
    justify-content: center
}

.item-div {
    border-radius: 0.25rem;
    width: 45%!important;
}

.head-img {
    transition-duration: 0.5s;
    border: 1px yellow solid;
    border-radius: 7px;
}

.head-img:hover {
    transform: scale(1.052);
}

/* ------------Child-Pages---------- */

.all-item-container {
    justify-content: center;
    display: flex;
}

.properties-table {
    display: table;
}

.properties-text {
    display: none;
}

.content-div {
    width: 85%;
}

.hidden {
    display: none;
}

.unhidden {
    display: block;
}

.pricing-div {
    justify-content: space-evenly;
}

/* ************************************ Footer ****************************************** */
#footer {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M 0%2c199 C 57.6%2c182.8 172.8%2c103.6 288%2c118 C 403.2%2c132.4 460.8%2c267.2 576%2c271 C 691.2%2c274.8 748.8%2c160.4 864%2c137 C 979.2%2c113.6 1036.8%2c161.8 1152%2c154 C 1267.2%2c146.2 1382.4%2c109.2 1440%2c98L1440 560L0 560z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c363 C 96%2c393.2 288%2c528 480%2c514 C 672%2c500 768%2c308.2 960%2c293 C 1152%2c277.8 1344%2c409 1440%2c438L1440 560L0 560z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    padding: 5% 10%;
}

.title-footer {
    font-weight: 900;
}

/*********** Media Query ***********/

@media (min-width: 992.00001) {
    #header {
        margin-bottom: 3%;
    }
}

@media (max-width: 992px) and (min-width: 768.0001) {
    #header {
        margin-bottom: 5%;
    }

    .item-container {
        display: flex;
        width: 100%;
    }

    .item-div {
        width: 90%!important;
    }

    .properties-table {
        display: none;
    }

    .properties-text {
        display: block;
    }
}

@media (max-width: 768px) and (min-width: 480.0001px) {
    #header {
        margin-bottom: 7%;
    }

    .item-container {
        text-align: center;
        width: 100%;
    }

    .item-div {
        width: 90%!important;
    }

    .properties-table {
        display: none;
    }

    .properties-text {
        display: block;
    }
}

@media (max-width: 480px) {
    #header {
        margin-bottom: 7%;
    }

    .item-container {
        text-align: center;
        width: 100%;
    }

    .item-div {
        width: 85%!important;
    }

    .properties-table {
        display: none;
    }

    .properties-text {
        display: block;
    }
}
